Repository Mitchy25/erpnext, pull requests merged in 2024-08, with the labels that each got.

#409 Version 14
  .github/workflows/linters.yml
  erpnext/__init__.py
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
  erpnext/accounts/report/consolidated_financial_statement/consolidated_financial_statement.py
  erpnext/accounts/report/general_ledger/general_ledger.js
  erpnext/accounts/report/general_ledger/general_ledger.py
  erpnext/accounts/report/general_ledger/test_general_ledger.py
  erpnext/accounts/report/item_wise_purchase_register/item_wise_purchase_register.py
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.js
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.py
  erpnext/assets/doctype/asset/asset.py
  erpnext/buying/utils.py
  erpnext/crm/report/sales_pipeline_analytics/sales_pipeline_analytics.py
  erpnext/crm/report/sales_pipeline_analytics/test_sales_pipeline_analytics.py
  erpnext/public/js/controllers/transaction.js
  erpnext/selling/page/sales_funnel/sales_funnel.js
  erpnext/stock/get_item_details.py
  erpnext/stock/report/available_batch_report/available_batch_report.py
Labels: stock, buying

#412 Version 14 development
  erpnext/buying/utils.py
  erpnext/controllers/accounts_controller.py
  erpnext/public/js/controllers/transaction.js
  erpnext/stock/dashboard/item_dashboard.js
  erpnext/stock/dashboard/item_dashboard.py
  erpnext/stock/dashboard/item_dashboard_list.html
  erpnext/stock/doctype/batch/batch.py
  erpnext/stock/doctype/stock_entry/stock_entry.js
  erpnext/stock/get_item_details.py
  erpnext/stock/stock_balance.py
Labels: accounts, stock, buying, needs-tests

#421 Version 14
  erpnext/__init__.py
  erpnext/stock/doctype/warehouse/warehouse.json
Labels: needs-tests

#425 Version 14 development
  erpnext/accounts/doctype/pricing_rule/utils.py
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/accounts/doctype/tax_rule/tax_rule.py
  erpnext/accounts/party.py
  erpnext/public/js/controllers/transaction.js
Labels: accounts, needs-tests

#429 Version 14 development
  erpnext/public/js/bank_reconciliation_tool/dialog_manager.js
  erpnext/public/js/controllers/taxes_and_totals.js
  erpnext/selling/doctype/sales_order/sales_order.json
  erpnext/stock/doctype/batch/batch.js
  erpnext/stock/doctype/batch/batch.py
Labels: needs-tests
