Repository Mitchy25/erpnext, pull requests merged in 2024-11, with the labels that each got.

#525 Remove debug
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.py
Labels: needs-tests

#541 Version 15
  erpnext/__init__.py
  erpnext/accounts/deferred_revenue.py
  erpnext/accounts/doctype/accounting_dimension_filter/accounting_dimension_filter.py
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.py
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/controllers/accounts_controller.py
  erpnext/patches.txt
  erpnext/patches/v15_0/update_sub_voucher_type_in_gl_entries.py
  erpnext/public/js/controllers/transaction.js
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/templates/pages/projects.py
Labels: accounts

#547 Fix: Allowing for batch base pr
  erpnext/accounts/doctype/pricing_rule/pricing_rule.py
Labels: needs-tests

#550 Stop removing batch_no
  erpnext/controllers/stock_controller.py
Labels: stock, needs-tests

#560 feature: get_batches_by_oldest can now get posting date
  erpnext/stock/doctype/batch/batch.py
Labels: needs-tests

#562 Fix: Only showing enabled warehouses in stock levels
  erpnext/stock/dashboard/item_dashboard.py
Labels: needs-tests
